body {
  background-color: lightblue;
}
h1 {
  background-color: #006994;
  font-style: oblique;
  color: midnightblue;
  text-align: center;
}
h2, h3 {
  color: midnightblue;
  text-align: center;
  border: 5px dashed #1E90FF;
  background-color: #006994;
}
